aiohttp==3.7.4
async-timeout==3.0.1
certifi==2019.6.16
chardet==3.0.4
discord.py==0.16.12
docopt==0.6.2
idna==2.8
monotonic==1.5
multidict==4.5.2
python-valve==0.2.1
requests==2.22.0
six==1.12.0
urllib3==1.25.3
websockets==3.4
